<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error verifying your account. Please <a :href="`/access/${$route.params.company}`">continue</a> to try again</div>
                        </div>
                        <div class="w-form-fail" v-show="billing_error_display">
                            <div>Oops! We couldn't connect to your stripe account. Contact {{company.account}} directly to about this issue</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-in-base middle wf-section" v-show="loadedSection">
            <div class="settings-wrapper" style="position:absolute; top:0; right:0; margin-right:20px; margin-top:20px;">
                <div class="button button-small text-align-center margin-left-2" @click="endSession">Logout</div>
                <div class="menu-button w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <h1 class="signinheader text-align-center margin-top-4">{{company.account}}</h1>
                        <div class="apptext text-align-center margin-bottom-4 _16">Access your billing portal with one-click</div>
                        <a href="#" class="button w-button" @click="customerBilling">Access - {{user.customer_id_button}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'AccessDashboard',
        data(){
            return {
                loadingPlaceholder: true,
                stillLoading: true,
                loadedSection: false,
                error_display: false,
                billing_error_display: false,
                user: {
                    token: '',
                    customer_id: '',
                    customer_id_button: '',
                    stripe_id: ''
                },
                company: {
                    account: '',
                    stripe_id: '',
                },
            }
        },
        methods: {
            e(){
                this.stillLoading = false,
                this.error_display = true;
            },

            async billing_e(){
                const magic = this.magic_customer;

                await magic.user.logout();
                this.stillLoading = false;
                this.billing_error_display = true;
            },

            async render() {
                const magic = this.magic_customer;

                const isLoggedIn = await magic.user.isLoggedIn();

                if (isLoggedIn) {
                /* Get user metadata including email */
                const userMetadata = await magic.user.getMetadata();
                this.getAccessUser(userMetadata.email);
                }else{
                    /*
                    For this tutorial, our callback route is simply "/callback"
                    */
                    try {
                    /* Complete the "authentication callback" */
                    await magic.auth.loginWithCredential();

                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getAccessUser(userMetadata.email);

                    } catch {
                    /* In the event of an error, we'll go back to the login page */

                    this.$router.push('/access/');
                    }
                }
            },

            async getAccessUser(email){
                const res = await fetch(`/api/get-access-user/${email}/${this.$route.params.token}`);

                if(res.status === 200){
                    const data = await res.json();

                    this.loadingPlaceholder = false;
                    this.loadedSection = true;

                    this.company.account = data.company_account;
                    this.company.stripe_id = data.access_customer[0].stripe_id;
                    this.user.customer_id = (data.access_customer[0].customer_id);
                    this.user.customer_id_button = (data.access_customer[0].customer_id).toUpperCase();
                    this.user.token = data.access_customer[0].token;

                    window.document.title = 'Stripe Billing - '+data.company_account;
                }else{
                    this.handleLogout();
                }
            },

            async customerBilling(){
                this.loadingPlaceholder = true;
                this.loadedSection = false;

                const res = await fetch(`/api/get-customer-billing/${this.company.stripe_id}/${this.user.customer_id}/${this.user.token}/${this.$route.params.company}`);

                if(res.status === 200){
                    const data = await res.json();
                    
                    window.location.href = data.url;
                }else{
                    this.billing_e();
                }
            },

            async handleLogout(){
                const magic = this.magic_customer;
                
                await magic.user.logout();
                this.e();
            },

            async endSession(){
                const magic = this.magic_customer;

                this.loadingPlaceholder = true;
                this.loadedSection = false;
                
                await magic.user.logout();
                
                this.$router.push(`/access/${this.$route.params.company}`);
            }
        },

        created() {
            this.render();
        }
    }
</script>