<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We could not find an account linked to <strong>{{$route.params.company}}</strong>. Please check the access link and try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-in-base wf-section" v-show="loadedSection">
            <div class="div-block-6">
                <div class="container-496">
                    <div class="div-block-61">
                    <h1 class="signinheader text-align-center">{{company.account}}</h1>
                    <div class="apptext text-align-center _16">Enter the email you used when purchasing to access the billing portal</div>
                    </div>
                    <div class="logincontainer">
                    <div class="w-form">
                        <form id="wf-form-Password" class="form-3" @submit.prevent="accessMagic" v-show="formMagic">
                            <label for="email" class="apptext nonbold">Enter your email below</label>
                            <input type="email" class="form-input w-input" maxlength="256" id="email" v-model="user.email">
                            <input type="submit" :value="submit_value" :class="[disabled_value, 'button signin w-button']">
                        <div class="text-block-10 register">Have any questions? Contact {{company.account}} directly</div>
                        </form>
                        <div class="form-3" v-show="loadingMagic">
                            <svg height="100" width="100" style="margin-left: 35%">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">We're sending you a magic login link.</div>
                        </div>
                        <div class="w-form-done" v-show="success_display">
                        <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail" v-show="form_error_display">
                        <div>Oops! {{form_error_message}}</div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'AccessPage',
        data(){
            return {
                formMagic: true,
                loadingMagic: false,
                loadingPlaceholder: true,
                stillLoading: true,
                loadedSection: false,
                success_display: false,
                error_display: false,
                form_error_display: false,
                form_error_message: '',
                submit_value: 'Request Login Link',
                disabled_value: '',
                user: {
                    email: '',
                    stripe_id: '',
                },
                company: {
                    account: '',
                    stripe_id: '',
                },
            }
        },
        methods: {
            e(error){
                this.form_error_display = true;
                this.form_error_message = error;
            },

            async getCompany(){
                const res = await fetch(`/api/get-company/${this.$route.params.company}`);

                if(res.status === 200){
                    const data = await res.json();
                    
                    this.loadingPlaceholder = false;
                    this.loadedSection = true;

                    this.company.account = data.data[0].account;
                    this.company.stripe_id = data.data[0].stripe_id;
                    this.user.stripe_id = data.data[0].stripe_id;

                    window.document.title = 'Login - '+data.data[0].account;
                }else{
                    this.e();
                }
            },

            async accessMagic(){
                if(!this.user.email) return this.e('Email is required');

                this.submit_value = "Please wait...";
                this.disabled_value = "disabled";

                const res = await fetch('/api/login-access', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify(this.user),
                });

                if(res.status == 200){
                    const data = await res.json();

                    this.formMagic = false;
                    this.loadingMagic = true;
                    this.form_error_display = false;
                    this.error_display = false;

                    console.log(data.token);
                    this.handleLogin(this.user.email, data.token);
                }else{
                    this.submit_value = "Request Login Link";
                    this.disabled_value = "";
                    this.e(`We couldn't find an customer with this email address listed under ${this.company.account}`);
                }
            },

            async handleLogin(email, token) {
                const magic = this.magic_customer;

                await magic.user.logout();

                const redirectURI = `https://portal.cartfuel.io/access/${this.$route.params.company}/authenticate/${token}`; // 👈 This will be our callback URI
                if (email) {
                    /* One-liner login 🤯 */
                    const request = magic.auth.loginWithMagicLink({ email: email, redirectURI, showUI: false }); // 👈 Notice the additional parameter!
                    //render();

                    request.on('email-sent', () => {

                        this.$router.push(`/access/${this.$route.params.company}/check-your-email?company=${this.company.account}`);
                    })
                };
            },
        },

        created(){
            this.getCompany();
        }
    }
</script>