<template>
    <div>
        <Header v-show="notauthpages"/>
        <router-view></router-view>
        <Footer v-show="notuserpages"/>
    </div>
</template>

<script>
import Header from './Header.vue';
import Footer from './Footer.vue';

export default{
    components: {
        Header,
        Footer,
    },

    computed:{
        notauthpages(){
            if (this.$route.path === '/configure-stripe' ||
                this.$route.path === '/configure-stripe/' || 
                this.$route.path === '/connect-stripe' ||
                this.$route.path === '/connect-stripe/' ||
                this.$route.path === '/dashboard' ||
                this.$route.path === '/dashboard/' ||
                this.$route.path === '/domain-settings' ||
                this.$route.path === '/domain-settings/' ||
                this.$route.path === '/dashboard/launch-portal/'+this.$route.params.customer_id ||
                this.$route.path === '/dashboard/launch-portal/'+this.$route.params.customer_id+'/'
            ) {
                return true
            }else{
                return false
            }
        },

        notuserpages(){
            if (this.$route.path === '/access/'+this.$route.params.company ||
                this.$route.path === '/access/'+this.$route.params.company+'/' || 
                this.$route.path === '/access/'+this.$route.params.company+'/check-your-email' || 
                this.$route.path === '/access/'+this.$route.params.company+'/check-your-email/' || 
                this.$route.path === '/access/'+this.$route.params.company+'/authenticate/'+this.$route.params.token ||
                this.$route.path === '/access/'+this.$route.params.company+'/authenticate/'+this.$route.params.token+'/'
            ) {
                return false
            }else{
                return true
            }
        }
    }
}
</script>

