<template>
    <div class="section-in-base middle wf-section">
        <div class="div-block-6">
            <div class="container-496">
                <div class="div-block-61">
                <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1"></div>
                <h1 class="signinheader text-align-center margin-top-4">Check your email. We&#x27;re sending you a magic login link!</h1>
                <h3 id="app"></h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'CheckEmail',
    }
</script>
