<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error verifying your account. Please <router-link to="/register">continue</router-link> to try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-in-base wf-section" v-show="loadedSection">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                    <div class="container-768 flex-column-centered">
                        <h1 class="signinheader text-align-center">Configure &amp; Turn On Your Stripe Portal </h1>
                        <div style="padding-top:56.17021276595745%" class="margin-bottom-4 w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVELV6UfDiIM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVELV6UfDiIM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVELV6UfDiIM%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube" scrolling="no" title="How Cartfuel Works - Full Tutorial Video"></iframe></div>
                        <div class="apptext text-align-center margin-bottom-4 _16">You need to configure your customer before you can use Cartfuel Portal services.</div>
                        <a href="https://dashboard.stripe.com/settings/billing/portal" target="_blank" class="button margin-bottom-4 w-button">Go To Stripe &amp; Configure</a>
                        <div class="apptext text-align-center margin-bottom-4">
                        <a href="/dashboard">Yes, I already have configured my Stripe Portal. Continue to dashboard. </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'ConfigureStripe',
        data(){
            return {
                loadingPlaceholder: true,
                stillLoading: true,
                loadedSection: false,
                error_display: false,
                user: {
                    name: '',
                    email: '',
                    account: '',
                },
            }
        },
        methods: {
            checkAuth(){
                if(sessionStorage.getItem("auth_email") == null){
                    this.render();
                }
            },
            async render() {
                const magic = this.magic_user;
                
                const isLoggedIn = await magic.user.isLoggedIn();

                if (isLoggedIn) {
                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getUser(userMetadata.email);
                    //sessionStorage.setItem('auth_email',email);
                }else{
                    /*
                    For this tutorial, our callback route is simply "/callback"
                    */
                    try {
                    /* Complete the "authentication callback" */
                    await magic.auth.loginWithCredential();

                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getUser(userMetadata.email);
                    //sessionStorage.setItem('auth_email',email);
                    } catch {
                    /* In the event of an error, we'll go back to the login page */

                    this.$router.push('/login');
                    }
                }
            },

            async getUser(email){
                const res = await fetch(`/api/get-user/${email}`);

                if(res.status === 200){
                    const data = await res.json();

                    if(data.data[0].onboarding == 'false'){
                        this.$router.push('/connect-stripe');
                    }else{
                        this.loadingPlaceholder = false;
                        this.loadedSection = true;
                    }
                }else{
                    this.handleLogout();
                }
            },
        },
        created() {
            this.render();
        }
    }
</script>