<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1"></div>
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error verifying your account. Please <router-link to="/login">continue</router-link> to try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-in-base middle wf-section" v-show="accountLoggedIn">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1"></div>
                            <h1 class="signinheader text-align-center margin-bottom-4 margin-top-4">Confirm login for {{user.email}}</h1>
                            <a href="/dashboard" class="button margin-bottom-4 w-button">Confirm &amp; Login</a>
                            <div class="apptext text-align-center margin-bottom-4">By continuing you agree to our <a href="https://www.cartfuel.io/legal/terms-and-conditions">Terms &amp; Conditions </a>and <a href="https://www.cartfuel.io/legal/privacy-policy">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'ConfirmLogin',
        data(){
            return {
                loadingPlaceholder: true,
                stillLoading: true,
                accountLoggedIn: false,
                error_display: false,
                user: {
                    email: '',
                },
            }
        },
        methods: {
            e(){
                this.stillLoading = false,
                this.error_display = true;
            },

            async render() {
                const magic = this.magic_user;
                
                const isLoggedIn = await magic.user.isLoggedIn();

                if (isLoggedIn) {
                /* Get user metadata including email */
                const userMetadata = await magic.user.getMetadata();
                this.loadingPlaceholder = false;
                this.accountLoggedIn = true;
                this.user.email = userMetadata.email;
                }else{
                    /*
                    For this tutorial, our callback route is simply "/callback"
                    */
                    try {
                    /* Complete the "authentication callback" */
                    await magic.auth.loginWithCredential();

                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.loadingPlaceholder = false;
                    this.accountLoggedIn = true;
                    this.user.email = userMetadata.email;

                    } catch {
                    /* In the event of an error, we'll go back to the login page */

                    this.$router.push('/login');
                    }
                }
            },
        },

        created() {
            this.render();
        }
    }
</script>