<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1"></div>
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error while setting up your account. Please <router-link to="/register">continue</router-link> to try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-in-base middle wf-section" v-show="accountCreated">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1"></div>
                        <h1 class="signinheader text-align-center margin-top-4">Confirm account for {{user.account}}</h1>
                        <div class="apptext text-align-center margin-bottom-4 _16">We&#x27;re going to create a new account under the email {{user.email}}. Are you sure you want to proceed? </div>
                        <a href="#" class="button w-button" @click="registerUser">Confirm &amp; Create New Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'ConfirmAccount',
        data(){
            return {
                loadingPlaceholder: true,
                stillLoading: true,
                accountCreated: false,
                error_display: false,
                user: {
                    name: '',
                    email: '',
                    account: '',
                },
            }
        },
        methods: {
            e(){
                this.stillLoading = false,
                this.error_display = true;
            },

            async render() {
                const magic = this.magic_user;

                const isLoggedIn = await magic.user.isLoggedIn();

                if (isLoggedIn) {
                /* Get user metadata including email */
                const userMetadata = await magic.user.getMetadata();
                this.getRegisterMagic(userMetadata.email);
                }else{
                    /*
                    For this tutorial, our callback route is simply "/callback"
                    */
                    try {
                    /* Complete the "authentication callback" */
                    await magic.auth.loginWithCredential();

                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getRegisterMagic(userMetadata.email);

                    } catch {
                    /* In the event of an error, we'll go back to the login page */

                    this.$router.push('/login');
                    }
                }
            },

            async getRegisterMagic(email){
                const res = await fetch(`/api/get-register-magic/${email}`);

                if(res.status === 200){
                    const data = await res.json();
                    
                    this.loadingPlaceholder = false;
                    this.accountCreated = true;
                    this.user.account = data.data[0].account;
                    this.user.name = data.data[0].name;
                    this.user.email = email;
                    //sessionStorage.setItem('auth_email',email);
                    //console.log(sessionStorage.getItem("auth_email"));
                }else{
                    this.handleLogout();
                }
            },

            async registerUser(){

                this.loadingPlaceholder = true;
                this.accountCreated = false;

                const res = await fetch('/api/register-user', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify(this.user)
                });

                if(res.status == 200){
                    this.$router.push('/connect-stripe');
                }else{
                    this.handleLogout();
                }
            },

            async handleLogout(){
                const magic = this.magic_user;
                
                await magic.user.logout();
                this.e();
            }
        },

        created() {
            this.render();
        }
    }
</script>