<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error while connecting to your stripe account. Please <a href="">continue</a> to try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-in-base wf-section" v-show="loadedSection">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div class="container-768 flex-column-centered">
                            <h1 class="signinheader text-align-center">Watch This Short Video To Learn How To Connect Your Stripe Account</h1>
                            <div style="padding-top:56.17021276595745%" class="margin-bottom-4 w-video w-embed"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVELV6UfDiIM%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVELV6UfDiIM&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVELV6UfDiIM%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube" scrolling="no" title="How Cartfuel Works - Full Tutorial Video"></iframe></div>
                            <div class="apptext text-align-center margin-bottom-4 _16">It is necessary that we access your Stripe account so we can securely identify and authenticate your Stripe customers. Once you click the connect button below, please log into your Stripe account. Make sure you don&#x27;t create a new account.</div>
                            <div class="div-block-79">
                                <a href="#" class="button text-align-center w-button" @click="connectStripe">Connect</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'ConnectStripe',
        data(){
            return {
                loadingPlaceholder: true,
                stillLoading: true,
                loadedSection: false,
                error_display: false,
                user: {
                    email: '',
                    token: '',
                },
            }
        },
        methods: {
            e(){
                this.stillLoading = false,
                this.error_display = true;
            },

            checkAuth(){
                console.log(sessionStorage.getItem("auth_email"));
                
                if(sessionStorage.getItem("auth_email") == null){
                    this.$router.push('/register');
                }
            },

            async render() {
                const magic = this.magic_user;
                
                const isLoggedIn = await magic.user.isLoggedIn();

                if (isLoggedIn) {
                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getUser(userMetadata.email);
                }else{
                    /*
                    For this tutorial, our callback route is simply "/callback"
                    */
                    try {
                    /* Complete the "authentication callback" */
                    await magic.auth.loginWithCredential();

                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getUser(userMetadata.email);
                    } catch {
                    /* In the event of an error, we'll go back to the login page */

                    this.$router.push('/login');
                    }
                }
            },

            async getUser(email){
                const res = await fetch(`/api/get-user/${email}`);

                if(res.status === 200){
                    const data = await res.json();

                    if(data.data[0].onboarding === 'true'){
                        this.$router.push('/dashboard');
                    }else{
                        this.loadingPlaceholder = false;
                        this.loadedSection = true;
                    }

                    console.log(data.data);
                }else{
                    this.handleLogout();
                }
            },

            async connectStripe(){
                this.loadingPlaceholder = true;
                this.loadedSection = false;

                const res = await fetch('/api/connect-stripe', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify(this.user),
                });

                if(res.status === 200){
                    const data = await res.json();

                    window.location.href = data.url;
                }else{
                    this.loadingPlaceholder = true;
                    this.loadedSection = false;
                    this.e();
                }
            },

            tokenCheck(){
                if(this.$route.query.status === 'true'){
                    this.user.token = this.$route.query.token;
                    this.setOnboard();
                }else{
                    this.render();
                }
                
            },

            async setOnboard(){
                this.loadingPlaceholder = true;
                this.loadedSection = false;

                const res = await fetch('/api/set-onboard', {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify(this.user),
                });

                if(res.status === 200){
                    const data = await res.json();

                    if((data.details) == 'true'){
                        this.$router.push('/configure-stripe');
                    }else{
                        window.location.href = "/connect-stripe";
                    }
                    //console.log(data.details);
                }else{
                    this.loadingPlaceholder = true;
                    this.loadedSection = false;
                    this.e();
                }
            },

            async handleLogout(){
            const magic = this.magic_user;

            await magic.user.logout();

            this.$router.push('/login');
        },
        },
        created() {
            this.tokenCheck()
        }
    }
</script>