<template>
    <div class="section-in-base middle wf-section">
        <div class="div-block-6">
            <div class="container-496">
                <div class="div-block-61">
                    <h1 class="signinheader text-align-center margin-top-4" style="font-size:50px;">{{company}}</h1>
                    <h3 class="signinheader text-align-center margin-top-4" style="font-size:25px;">Check your email. We&#x27;re sending you a magic login link!</h3>
                <h3 id="app"></h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'CustomerCheckEmail',
        data(){
            return{
                company: '',
            }
        },
        created(){
            if (this.$route.query.company){
                this.company = this.$route.query.company;
                window.document.title = 'Check your Email - '+this.$route.query.company;
            }else{
                window.location.href="/access";
            }
        }
    }
</script>
