<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error verifying your account. Please <router-link to="/register">continue</router-link> to try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-in-base blue wf-section" v-show="loadedSection">
            <div class="container-1280">
                <div class="topoverviewwrapper portal">
                    <div class="div-block portal">
                    <h3 class="onboardhey margin-bottom-2">👋 Welcome {{user.name}}, access your portal below</h3>
                    </div>
                    <div class="div-block-78">
                    <div class="apptext text-align-center margin-bottom-2 left">Share your billing portal using the below link</div>
                    <div class="apptext text-align-center margin-bottom-4 left smaller">Contact <a href="#">support</a> to change your portal link</div>
                    <div class="div-block-76 margin-bottom-4">
                        <div class="form-input portal">
                        <div class="apptext form-text" id="accessLink">{{user.domain}}</div>
                        </div>
                        <div class="button button-small text-align-center margin-left-2" @click="copyAccess">{{copyAccessText}}</div>
                    </div>
                    </div>
                </div>
                <div class="dashboardwrapper">
                    <div class="dashboardgrid customers">
                    <div class="rightdashboarddiv">
                        <div class="getreadycard">
                        <div>
                            <div class="customersearchdiv">
                            <div>
                                <div class="text-block-4 bold big margin-bottom-2">Stripe Account</div>
                                <div class="apptext grey smaller margin-bottom-4">{{user.stripe_id}}<a href="#"><br></a>
                                </div>
                            </div>
                            <div>
                                <div class="form-block-2 _1 w-form">
                                <form id="email-form" name="email-form" data-name="Email Form" method="get">
                                    <input type="text" class="form-input _1 w-input" placeholder="Enter an ID or email" id="name" @keyup="searchCustomers" v-model="search_input">
                                </form>
                                <div class="w-form-done" v-show="success_display">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail" v-show="error_display">
                                    <div>Oops! Something went wrong while submitting the form.</div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="webhookwrapper margin-top-8">
                                <div class="div-block-61" v-show="customerPlaceholder">
                                    <div v-show="customerLoading">
                                        <svg height="100" width="100" style="margin-left: 0%; margin-top:0px;">
                                            <circle
                                                stroke-linecap="round"
                                                transform-origin="50 50"
                                                cx="50"
                                                cy="50"
                                                r="40"
                                                stroke-width="7"
                                                stroke="#525965"
                                                fill="none"
                                                stroke-dasharray="251.32"
                                                stroke-dashoffset="251.32"
                                            >
                                                <animate
                                                attributeName="stroke-dashoffset"
                                                dur="4s"
                                                to="-251.32"
                                                repeatCount="indefinite"
                                                />
                                                <animateTransform
                                                attributeName="transform"
                                                type="rotate"
                                                dur="3.5s"
                                                to="360"
                                                repeatCount="indefinite"
                                                />
                                            </circle>
                                        </svg>
                                        <br/><br/><br/>
                                        <div class="text-block-10 register magic">Please wait...</div>
                                    </div>
                                    <div class="" style="margin-bottom:30px;" v-show="empty_display">
                                        <div>
                                            No Customers to show<br/><br/>
                                            <div class="button button-small text-align-center margin-left-2" @click="reloadCustomers">Reload</div>
                                        </div>
                                    </div>
                                    <div class="w-form-fail" style="margin-bottom:30px;" v-show="customer_error_display">
                                        <div>Oops! We encountered an error connecting to your stripe account. Please <a href="/dashboard">continue</a> to try again</div>
                                    </div>
                                </div>
                                <div class="shopifysyncdiv margin-top-12" v-show="customerLoaded">
                                    <div class="customertitlegrid">
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be41f-cf7e46b4">
                                            <div class="text-block-4 bold margin-bottom-2 taxname">ID</div>
                                        </div>
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be422-cf7e46b4">
                                            <div class="text-block-4 bold margin-bottom-2 taxname">Name</div>
                                        </div>
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be425-cf7e46b4">
                                            <div class="text-block-4 bold margin-bottom-2 taxname">Email</div>
                                        </div>
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be428-cf7e46b4">
                                            <div class="text-block-4 bold margin-bottom-2 taxname">Customer Portal</div>
                                        </div>
                                    </div>
                                    <div class="customertitlegrid top" v-for="customer in customers" v-bind:key="customer.id">
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be42c-cf7e46b4">
                                            <div>
                                                <div class="text-block-4 bold margin-bottom-2 taxentry">{{customer.id}}</div>
                                            </div>
                                        </div>
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be430-cf7e46b4">
                                            <div>
                                                <div class="text-block-4 bold margin-bottom-2 taxentry url">{{customer.name}}</div>
                                            </div>
                                        </div>
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be434-cf7e46b4">
                                            <div>
                                                <div class="text-block-4 bold margin-bottom-2 taxentry url">{{customer.email}}</div>
                                            </div>
                                        </div>
                                        <div id="w-node-b0909c50-7d78-a3b0-80ff-e274071be438-cf7e46b4">
                                            <div>
                                                <a id="w-node-_1bd4ed85-b853-4919-ebc2-4f91da304104-cf7e46b4" :href="`/dashboard/launch-portal/${customer.id}/`" class="button button-small smaller view w-button">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-block-51 margin-top-12" v-show="customerLoaded">
                            <div class="apptext text-align-center margin-bottom-4">Only shows the last 100 customers. Visit your <a href="https://dashboard.stripe.com">Stripe Dashboard</a> for the full list</div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    name: 'Dashboard',
    data(){
        return {
            loadingPlaceholder: true,
            stillLoading: true,
            loadedSection: false,
            customerPlaceholder: true,
            customerLoading: true,
            customerLoaded: false,
            empty_display: false,
            success_display: false,
            error_display: false,
            customer_error_display: false,
            search_input: '',
            copyAccessText: 'Copy',
            user: {
                name: '',
                email: '',
                account: '',
                stripe_id: '',
                domain: '',
                created_at: ''
            },
            customers: {},
            customers_search: {}
        }
    },
    methods: {
        customer_e(){
            this.customerLoading = false,
            this.customer_error_display = true;
        },

        async render() {
            const magic = this.magic_user;
            
            const isLoggedIn = await magic.user.isLoggedIn();

            if (isLoggedIn) {
                /* Get user metadata including email */
                const userMetadata = await magic.user.getMetadata();
                this.getUser(userMetadata.email);
            }else{
                /*
                For this tutorial, our callback route is simply "/callback"
                */
                try {
                /* Complete the "authentication callback" */
                await magic.auth.loginWithCredential();

                /* Get user metadata including email */
                const userMetadata = await magic.user.getMetadata();
                this.getUser(userMetadata.email);
                } catch {
                /* In the event of an error, we'll go back to the login page */

                this.$router.push('/login');
                }
            }
        },

        async getUser(email){
            const res = await fetch(`/api/get-user/${email}`);

            if(res.status === 200){
                const data = await res.json();
                
                if(data.data[0].onboarding == 'false'){
                    this.$router.push('/connect-stripe');
                }else{
                    this.loadingPlaceholder = false;
                    this.loadedSection = true;
                    this.user.account = data.data[0].account;
                    this.user.name = data.data[0].name.split(" ")[0];
                    this.user.email = email;
                    this.user.stripe_id = data.data[0].stripe_id;
                    this.user.domain = data.data[0].domain;
                    this.user.created_at = data.data[0].created_at;
                    this.intercom();

                    this.fetchUserCustomers(this.user.stripe_id);
                }
            }else{
                this.handleLogout();
            }
        },

        copyAccess(){
            const copyText = document.getElementById("accessLink");
            navigator.clipboard.writeText(copyText.innerHTML);

            this.copyAccessText = 'Copied';

            setTimeout(this.revertCopyAccessText, 2000);
        },

        revertCopyAccessText(){
            this.copyAccessText = 'Copy';
        },

        async fetchUserCustomers(stripe_id){
            const res = await fetch(`/api/get-customers/${stripe_id}`);

            if(res.status === 200){
                const data = await res.json();

                if(data.length > 0){
                    this.customers = data;

                    this.customers_search = data;

                    this.customerPlaceholder = false;
                    this.customerLoaded = true;
                }else{
                    this.customerPlaceholder = true;
                    this.customerLoading = false;
                    this.empty_display = true;
                }

            }else{
                this.customer_e();
            }            
        },

        reloadCustomers(){
            this.empty_display = false;
            this.customerLoading = true;
            this.fetchUserCustomers(this.user.stripe_id);
        },

        searchCustomers(){
            if(this.search_input == ''){
                this.empty_display = false;
                this.customerLoaded = true
                this.customers = this.customers_search;
            }else{
                const new_customers = this.customers_search.filter(this.searchCustomersData);

                if (new_customers.length < 1) {
                    this.customers = '';
                    this.customerLoaded = false;
                    this.customerPlaceholder = true;
                    this.customerLoading = false;
                    this.empty_display = true;
                }else{
                    this.customerPlaceholder = false;
                    this.empty_display = false;
                    this.customerLoaded = true;
                    this.customers = new_customers;
                }
            }
        },

        searchCustomersData(customer) {
            for(var k in customer) if(customer[k].indexOf(this.search_input)!=-1) return true;
            return false
        },

        async handleLogout(){
            const magic = this.magic_user;

            await magic.user.logout();

            this.$router.push('/login');
        },

        intercom(){
            window.intercomSettings = {
                api_base: "https://api-iam.intercom.io",
                app_id: "kj6j3xrr",
                name: this.user.name,
                email: this.user.email,
                created_at: this.user.created_at
            };

            // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/kj6j3xrr'
            (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/kj6j3xrr';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        }
    },
    created() {
        this.render();
    }
}

</script>
