<template>
    <div class="footer wf-section">
        <div class="container-1280 footer">
            <div class="nav footer-left-aligned">
            <div class="logo-and-links-wrapper">
                <div class="link-wrapper margin-left-8">
                <div class="footertext">© 2022 FuelPoweredApps, INC.<br></div>
                </div>
            </div>
            <div class="link-wrapper margin-left-8">
                <a href="https://www.cartfuel.io/legal/terms-and-conditions" class="nav-text margin-left-5 grey footertext">Terms of Service</a>
                <a href="https://www.cartfuel.io/legal/privacy-policy" class="nav-text margin-left-5 grey footertext">Privacy Policy</a>
                <a href="https://www.cartfuel.io/legal/security-policy" class="nav-text margin-left-5 grey footertext">Security Policy</a>
                <a href="https://www.cartfuel.io/contact-us" class="nav-text margin-left-5 grey footertext">Contact</a>
            </div>
            </div>
        </div>
    </div>
</template>