<template>
    <div>
        <div class="logoutCover" v-show="logoutCover">
            <div class="div-block-61">
                <div>
                    <svg height="100" width="100" style="margin-left: 0%; margin-top:50%;">
                        <circle
                            stroke-linecap="round"
                            transform-origin="50 50"
                            cx="50"
                            cy="50"
                            r="40"
                            stroke-width="7"
                            stroke="#525965"
                            fill="none"
                            stroke-dasharray="251.32"
                            stroke-dashoffset="251.32"
                        >
                            <animate
                            attributeName="stroke-dashoffset"
                            dur="4s"
                            to="-251.32"
                            repeatCount="indefinite"
                            />
                            <animateTransform
                            attributeName="transform"
                            type="rotate"
                            dur="3.5s"
                            to="360"
                            repeatCount="indefinite"
                            />
                        </circle>
                    </svg>
                    <br/><br/><br/>
                    <div class="text-block-10 register magic">Please wait...</div>
                </div>
            </div>
        </div>
        <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="background-color-white w-nav">
            <div class="container-1280 background-color-white w-container">
            <div class="nav">
                <div class="logo-and-links-wrapper">
                <a href="https://cartfuel.io" class="w-nav-brand">
                    <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1 topnav"></div>
                </a>
                <div class="link-wrapper margin-left-8">
                    <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="#" class="nav-text margin-left-5 grey header settings w-nav-link">Settings</a>
                    </nav>
                </div>
                </div>
                <div class="settings-wrapper">
                <a href="https://dashboard.stripe.com/settings/billing/portal" class="nav-text margin-right-3 grey settings">Stripe Settings</a>
                <!--<router-link to="/domain-settings" class="nav-text margin-right-3 grey settings">Domain Settings</router-link>-->
                <a href="https://cartfuel.io" class="nav-text margin-right-3 grey settings">Powered By Cartfuel</a>
                <a href="#" class="nav-text margin-right-3 grey settings" @click="handleLogout">Logout</a>
                <div class="menu-button w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'Header',
    data(){
        return {
            logoutCover: false,
        }
    },
    methods:{
        async handleLogout(){
            const magic = this.magic_user;

            this.logoutCover = true;
            
            await magic.user.logout();
            this.$router.push('/login');
        }
    },

    created() {
        this.logoutCover = false;
    }
};
</script>


<style scoped>
.logoutCover{
    height:100%;
    width:100%;
    background: rgba(255,255,255,0.9);
    position:absolute;
    z-index:99;
}
</style>