<template>
    <div>
        <div class="section-in-base middle wf-section" v-show="loadingPlaceholder">
            <div class="div-block-6">
                <div>
                    <div class="div-block-61">
                        <div v-show="stillLoading">
                            <svg height="100" width="100" style="margin-left: 0%; margin-top:50px;">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">Please wait...</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! We encountered an error connecting to this account. Please <router-link to="/dashboard">continue</router-link> to try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'LauchPortal',
        data(){
            return {
                loadingPlaceholder: true,
                stillLoading: true,
                error_display: false,
                user: {
                    name: '',
                    email: '',
                    account: '',
                },
            }
        },
        methods: {
            e(){
                this.stillLoading = false,
                this.error_display = true;
            },
            async render() {
                const magic = this.magic_user;

                const isLoggedIn = await magic.user.isLoggedIn();

                if (isLoggedIn) {
                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getUser(userMetadata.email);
                }else{
                    /*
                    For this tutorial, our callback route is simply "/callback"
                    */
                    try {
                    /* Complete the "authentication callback" */
                    await magic.auth.loginWithCredential();

                    /* Get user metadata including email */
                    const userMetadata = await magic.user.getMetadata();
                    this.getUser(userMetadata.email);
                    } catch {
                    /* In the event of an error, we'll go back to the login page */

                    this.$router.push('/login');
                    }
                }
            },

            async getUser(email){
                const res = await fetch(`/api/get-user/${email}`);

                if(res.status === 200){
                    const data = await res.json();
                    
                    if(data.data[0].onboarding == 'false'){
                        this.$router.push('/connect-stripe');
                    }else{
                        this.billingDetails(data.data[0].stripe_id);
                    }

                }else{
                    this.handleLogout();
                }
            },

            async billingDetails(stripe_id){
                const res = await fetch(`/api/get-billing/${stripe_id}/${this.$route.params.customer_id}`);

                if(res.status === 200){
                    const data = await res.json();
                    
                    window.location.href = data.url;
                }else{
                    this.$router.push('/configure-stripe');
                }
            },

            async handleLogout(){
                const magic = this.magic_user;

                await magic.user.logout();

                this.$router.push('/login');
            }
        },
        created() {
            this.render();
        }
    }
</script>