<template>
    <div class="section-in-base wf-section">
        <div class="div-block-6">
            <div class="container-496">
                <div class="div-block-61">
                    <div class="div-block-74"><img src="/assets/images/Cartfuel-With-Portal.svg" loading="lazy" alt="" class="image-9 margin-bottom-2 portal margin-right-1"></div>
                    <h1 class="signinheader text-align-center margin-top-4">Login To Your Customer Portal Account</h1>
                </div>
                <div class="logincontainer">
                    <div class="w-form">
                        <form @submit.prevent="loginMagic" class="form-3" v-show="formMagic">
                            <label for="email" class="apptext nonbold">Email Address</label>
                            <input type="email" class="form-input w-input" maxlength="256" v-model="user.email" placeholder="" id="email">
                            <input type="submit" :value="submit_value" :class="[disabled_value, 'button signin w-button']">
                            <div class="text-block-10 register">Don&#x27;t have an account? <a href="/register">Register</a>. </div>
                        </form>
                        <div class="form-3" v-show="loadingMagic">
                            <svg height="100" width="100" style="margin-left: 35%">
                                <circle
                                    stroke-linecap="round"
                                    transform-origin="50 50"
                                    cx="50"
                                    cy="50"
                                    r="40"
                                    stroke-width="7"
                                    stroke="#525965"
                                    fill="none"
                                    stroke-dasharray="251.32"
                                    stroke-dashoffset="251.32"
                                >
                                    <animate
                                    attributeName="stroke-dashoffset"
                                    dur="4s"
                                    to="-251.32"
                                    repeatCount="indefinite"
                                    />
                                    <animateTransform
                                    attributeName="transform"
                                    type="rotate"
                                    dur="3.5s"
                                    to="360"
                                    repeatCount="indefinite"
                                    />
                                </circle>
                            </svg>
                            <br/><br/><br/>
                            <div class="text-block-10 register magic">We're sending you a magic login link.</div>
                        </div>
                        <div class="w-form-done" v-show="success_display">
                            <div>Thank you! {{success_message}}</div>
                        </div>
                        <div class="w-form-fail" v-show="error_display">
                            <div>Oops! {{error_message}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: 'Login',
        data (){
            return{
                user: {
                    email: '',
                },
                formMagic: true,
                loadingMagic: false,
                error_message: '',
                success_message: '',
                submit_value: 'Login',
                disabled_value: '',
                error_display: false,
                success_display: false
            }
        },
        methods: {
            e(error){
                this.error_display = true;
                this.error_message = error;
            },

            s(success){
                this.success_display = true;
                this.success_message = success;
            },

            async loginMagic(){
                if(!this.user.email) return this.e('Email is required');

                this.submit_value = "Please wait...";
                this.disabled_value = "disabled";

                const res = await fetch('/api/login-user', {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify(this.user),
                });

                if(res.status == 200){
                    this.formMagic = false;
                    this.loadingMagic = true;
                    this.error_display = false;
                    this.handleLogin(this.user.email);
                }else{
                    this.submit_value = "Login";
                    this.disabled_value = "";
                    this.e('We couldn\'t find an account with this email address');
                }
            },

            async handleLogin(email) {
                const magic = this.magic_user;

                await magic.user.logout();

                const redirectURI = 'https://portal.cartfuel.io/confirm-login'; // 👈 This will be our callback URI
                if (email) {
                    /* One-liner login 🤯 */
                    const request = magic.auth.loginWithMagicLink({ email: email, redirectURI, showUI: false }); // 👈 Notice the additional parameter!
                    //render();

                    request.on('email-sent', () => {

                        this.$router.push('/check-your-email');
                    })
                };
            },
        },
    }
</script>